<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.g3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.G3">
        <activity android:name=".SettingsActivity" />
        <activity android:name=".MainPageActivity" />
        <activity android:name=".LoginOuterActivity" />
        <activity android:name=".SurveyActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".covid.CovidActivity" android:parentActivityName=".MainPageActivity">
        </activity>
        <activity android:name=".covid.AffectedCountries"></activity>
        <activity android:name=".covid.DetailActivity"></activity>
        <activity android:name=".covid.MalaysiaActivity"></activity>

    </application>



</manifest>